#titleofthepage{
    padding-left: 30px;
    
    border: 1px solid green;
    border-radius: 15px;
    background-color: rgb(30, 180, 123);
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    
    margin: 10px;
}

.stylesheet{
    
    background-color: rgb(19, 160, 113);
    margin:5px;
    border: 10px;;
    text-decoration: none;
}

.stylesheet.hover{
    
    background-color: rgb(169, 172, 20);
    margin:5px;
    border: 10px;;
    text-decoration: none;
}

.sidebar{
    background-color: rgb(96, 96, 255);
    color: white;
    padding: 5px 2px 3px 3px;
    border-radius: 7px;
    
}
#side-bar{
    font-size: large;
    
}

#last-para{
    background-color: rgb(190, 190, 245);
    
    padding: 5px 2px 3px 3px;
    border-radius: 7px;
    
}